<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<div id="app">
    <div class="container">
        <header class="header">
            <div class="logo">
                <img class="logo__ing" src="img/logo.png" alt="logo">
                <p class="logo__text">Logo</p>
            </div>
            <div class="header_right">
                <transition name="title">
                    <p v-if="showTitleSearch" class="header_right__title">Такой элемент не найден.</p>
                </transition>
                <div class="search">
                    <input @keydown.enter.delete="filterCatalog" v-model="nameProducts"
                           class="search__search-products_input"
                           type="text" placeholder="Поиск товаров...">
                    <button @click="filterCatalog" class="search__search-products_btn"><i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="cart-container">
                    <button @click="showCart = !showCart" class="btn cart-container__btn_cart" data-id="cart"
                            type="button">Корзина
                    </button>
                    <p v-if="animationAdd" class="addProdText text-blur-out">+1</p>
                    <transition name="title">
                        <div v-show="showCart" class="cart">
                            <p v-if="productsInCart.length === 0">«Нет данных»</p>
                            <div v-for="prodCart of productsInCart" :key="showCart.id_product" class="cart__product "
                                 data-id="${this.id_product}">
                                <img class="cart__product_img" :src="imgCatalog" alt="${this.product_name}">
                                <div class="cart__product_text-box">
                                    <h3 class="cart__product_title">{{ prodCart.product_name }}</h3>
                                    <p class="cart__product_price">Цена {{ prodCart.price }} руб.</p>
                                    <p class="cart__product_quantity">Колличество {{ prodCart.quantity }}.</p>
                                    <button @click="remProduct(prodCart)"
                                            class="btn cart__product_btn btn_del-from-cart"
                                            data-id="${this.id_product}">
                                        Удалить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div class="product-item"
                     v-for="product of showProducts.length !== 0 ? showProducts : goods"
                     :key="product.id_product">
                    <img class="product-item__img" :src="imgCatalog" alt="Img">
                    <h3 class="product-item__title">{{ product.product_name }}</h3>
                    <p class="product-item__price">{{ product.price }}</p>
                    <button @click="addProduct(product)" class="btn product-item__btn_add-to-cart">Добавить в
                        корзину
                    </button>
                </div>
            </div>
        </main>
    </div>
    <footer class="footer"></footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>