@keyframes text-blur-out {
    0% {
        filter: blur(0.01);
    }
    100% {
        filter: blur(12px) opacity(0%);
    }
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#app {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: linear-gradient(0, #fff, #3496ba);
    padding: 10px
}

.logo {
    display: flex;
    align-items: center;
}

.logo__ing {
    width: 50px;
    height: 50px;
}

.logo__text {
    margin-left: 10px;
    font-size: 30px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    width: 16%;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s;
    border-radius: 10px;
}

.product-item__img {
    width: 160px;
    height: 120px;
    margin-bottom: 15px;
}

.product-item__price {
    margin-bottom: 15px;
}

.product-item:hover {
    box-shadow: 0 0 5px 3px #000000;
}

.btn {
    background-color: #444444;
    border: 3px solid #444444;
    color: #fff;
    padding: 4px 20px;
    border-radius: 18px;
    font-size: 14px;
    transition: border 0.3s;
}

.btn:hover {
    border: 3px solid #3496ba;
}

.btn:focus {
    outline: none;
}

.header__btn_cart {
    margin-right: 10px;
}

.footer {
    margin: 40px auto 0;
    width: 1200px;
    height: 70px;
    background: linear-gradient(180deg, #fff, #3496ba);
    padding: 10px
}

.header_right {
    position: relative;
    display: flex;
    align-items: center;
}

.cart {
    position: absolute;
    top: 40px;
    right: 10px;
    padding: 15px;
    opacity: 0.9;
    background: #3496ba;
    box-shadow: 0 0 3px 5px #3496ba;
    border-radius: 10px;
    min-width: 150px;
}

.addProdText {
    position: absolute;
    top: 7px;
    right: 4px;
    color: #fff;
}

.cart__product {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: 1px solid #444444;
    border-radius: 10px;
    background: #38B2CE;
}

.cart__product_text-box {
    padding: 10px;
    min-width: 120px;
}

.cart__product_img {
    width: 150px;
}

.search {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    border: 1px solid black;
}

.search__search-products_input {
    padding: 0 10px;
    border: none;
    outline: none;
}

.search__search-products_btn {
    padding: 7px;
    background: #38B2CE;
    border: none;
    outline: none;
}

.header_right__title {
    position: absolute;
    top: 0;
    left: -200px;
    border-radius: 20px;
    padding: 5px;
    background: #fff;
}

.text-blur-out {
    animation: text-blur-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.title-enter-active {
    transition: all .3s ease;
}

.title-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.title-enter, .title-leave-to {
    transform: translateX(20px);
    opacity: 0;
}